
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background: #f1f1f1;
    font-family: roboto, sans-serif;
}

.container {
    height: 100vh;
    background: url(img/reactwhite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 50px;
    position: relative;
    border: 1px solid red;
  }

.home{
    width: 520px;
    height: 700px;
    border: 5px solid green;
    margin: 0 auto;
    background-color: rgba(49, 49, 45, 0.8);
}
.post h1{
    
    color: #fff;
    font-family: Monserat, sans-serif;
    font-size: clamp(25px, 7vw, 40px);
    font-weight: 300;

}
.post h2{
    color: #f1f1f1;
}
img{
    width: 50px;
}
